<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <script src="http://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyDy_Tbtm2V1Q_717uwzH2W_fKJJuJeYUT8"></script>
</head>
<body ng-app="myApp" ng-controller="MapController as vm">

Origin: <br/>
<input places-auto-complete size=80
       ng-model="vm.originAddress"
       component-restrictions="{country:'us'}"
       types="{{types}}"
       on-place-changed="vm.originPlaceChanged()" /> <br/>
<div ng-show="vm.originPlace">
  Address = {{vm.originPlace.formatted_address}} <br/>
  Location: {{vm.originPlace.geometry.location}}<br/>
</div>
address : {{vm.originAddress}}
<br/>

Destination: <br/>
<input places-auto-complete size=80
       ng-model="vm.destinationAddress"
       component-restrictions="{country:'us'}"
       types="{{types}}"
       on-place-changed="vm.destinationPlaceChanged()" /> <br/>
<div ng-show="vm.destinationPlace">
    Address = {{vm.destinationPlace.formatted_address}} <br/>
    Location: {{vm.destinationPlace.geometry.location}}<br/>
</div>
address : {{vm.destinationAddress}}
<br/>

<ng-map center="current-location" zoom="12">
  <bicycling-layer></bicycling-layer>
  <directions
          draggable="true"
          panel="directions-panel"
          travel-mode="BICYCLING"
          origin="{{vm.originPlace.formatted_address}}"
          destination="{{vm.destinationPlace.formatted_address}}"
  </directions>
</ng-map>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
<script src="app.js"></script>
<script src="map.controller.js"></script>
</body>
</html>
